.App {
  background: linear-gradient(180deg, #50D2EA 0%, #28516B 100%);
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}
.App-screen {
  height:65%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.App-line {
  width: 100%;
  border: 2px solid #FFFFFF;
}

.App-dropdown {
  border-radius: 40px;
  background-color: white;
  color: black  ;
}

.App-dropdownWrapper {
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
